<h1 align = "center">Attendance chart</h1><br>

<%= line_chart StudentAttendance.group(:attendance_description_id).group_by_day(:created_at).count %>

<!-- <%= line_chart charts_chart_attendance_path %> -->
